.fashion{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}
.style{
    font-family: fantasy;
    }
h5{
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    }
.design{
    font-family: initial;
}
.collect{
    font-family: Allison;
    font-size: 50px;
}
table, th, td{
    border: 2px solid black;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
    font-weight: bold;
}
.video {
    margin-left: 582px;
    margin-right: 50%;
}